@import "./reset.scss";
@import "./navigation.scss";
@import "./sliders.scss";
@import "./mixins.scss";

@include isTelephone {
    .full__form {
        width: 96%;
        margin: 0 2%;
        background-color: var(--background-color);
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;


        .recaptcha {
            display: flex;
            justify-content: center;
            width: 30%;
            margin: 5% 35%;
        }

        .btn {
            font-size: 4vw;
            padding: 2%;
            background-color: var(--border-and-submit-color);
            border: 0;
            color: var(--background-color);
            font-weight: bold;
        }

        .form__container {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;

            .column {
                width: 90%;
                display: flex;
                flex-flow: column nowrap;
                margin: 0 5%;

                .form__title {
                    height: 4vw;
                    margin: 4vw 0;
                    background-color: var(--background-color);

                    h3,
                    h6 {
                        margin: 2%;
                    }

                    h3 {
                        font-size: 3vw;
                    }
                    h6 {
                        font-size: 1.7vw;
                    }
                }

                label {
                    font-size: 3vw;
                    padding: 2% 0;
                }

                .twoInRow__input__container {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;

                    .form__component {
                        width: 40%;
                    }
                }

                .container {
                    display: flex;
                    flex-flow: column nowrap;
                    background-color: var(--form-container-info-background);
                    margin: 1%;
                    padding: 2%;

                    i {
                        margin: 3% 0 0 5%;
                        font-size: 4vw;
                    }


                    .form__component {
                        display: flex;
                        flex-flow: column nowrap;
                        margin: 2% 5%;

                        select,
                        input {
                            border-radius: 5px;
                            height: 5vw;
                            background-color: var(--background-color);
                            font-size: 3vw;
                            border: 0.5px solid black;
                        }
                    }
                }
            }
        }
    }
}
@include isDesktop {
    .full__form {
        display: flex;
        flex-flow: column nowrap;
        width: 75%;
        margin: 0 15%;
        justify-content: center;
        background-color: var(--background-color);

        .recaptcha {
            display: flex;
            justify-content: center;
        }

        .btn {
            width: 14%;
            margin: 5% 43%;
            font-size: 1vw;
            padding: 0.5%;
            background-color: var(--border-and-submit-color);
            border: 0;
            border-radius: 5px;
            color: var(--background-color);
            font-weight: bold;
        }

        .form__container {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;

            .column {
                width: 45%;
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-between;
                margin: 2%;

                .form__title {
                    height: 3vw;
                    margin-bottom: 0.5vw;
                    background-color: var(--background-color);

                    h3,
                    h6 {
                        margin: 1%;
                    }

                    h3 {
                        font-size: 1.2vw;
                    }
                    h6 {
                        font-size: 0.9vw;
                    }
                }

                .form__title__middle {
                    display: flex;
                    align-items: center;
                }

                label,
                .label {
                    font-size: 1.1vw;
                    padding: 2% 0;
                }

                .twoInRow__input__container{
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;

                    .form__component {
                        width: 40%;
                    }
                }

                .container {
                    display: flex;
                    flex-flow: row nowrap;
                    background-color: var(--form-container-info-background);
                    margin: 1%;
                    padding: 2%;

                    i {
                        margin: 3% 0 0 2%;
                        font-size: 1.4vw;
                    }

                    .form__info__container {
                        width: 90%;
                    }

                    .form__component {
                        display: flex;
                        flex-flow: column nowrap;
                        margin: 2% 5%;

                        select,
                        input,
                        .input_value {
                            display: flex;
                            align-items: center;
                            padding-left: 2%;
                            border-radius: 5px;
                            height: 2.8vw;
                            background-color: var(--background-color);
                            font-size: 1.1vw;
                            border: 1px solid black;
                        }
                    }
                }
            }
        }
    }
}
