* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    background-color: var(--html-background);

    .full__container {
        margin: 100px 0;
    }
}

:root {
    --border-and-submit-color: rgb(0, 170, 33);
    --background-color: white;
    --form-container-info-background: rgb(235, 235, 235);
    --html-background: rgb(200, 200, 200);
}